<template>
    <div class="contenedor">
        <div class="contenido">
            <v-progress-circular :size="135" :width="7" indeterminate color="primary"></v-progress-circular>
        </div>
    </div>
</template>
<style scoped>
    .contenedor {
        position: fixed;
        background-color: #fafafa;
        z-index: 1000;
        min-width: 100vw;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 1s ease-in-out
    }
</style>
