<template>
    <div class="alert_container">
        <v-container fluid>
            <v-row wrap>
                <v-flex xs12 class="text-center">
                    <v-icon x-large color="primary">mdi-alert-circle</v-icon>
                </v-flex>
                <v-flex xs12>
                    <span class="headline">Ops! It seems like we do not have any result here.</span>
                </v-flex>
            </v-row>
        </v-container>
    </div>
</template>

<script>
export default {
  mounted () {
    setTimeout(() => {
      this.$store.dispatch('clearNoResults')
    }, 8000)
  }
}
</script>

<style scoped>
.alert_container {
  z-index: 15000;
  background-color: white;
  text-align: center;
  position: fixed;
  top: 60px;
  right: 12px;
  border: 2px solid rgb(251, 56, 56);
  transition: all .8s ease;
  border-radius: 3px;
}
</style>
