<template>
    <div
    v-show="showScrollToTopBtn"
    class="scroll_to_top">
        <v-btn
        fab
        color="primary">
            <v-icon x-large>mdi-arrow-up-bold-hexagon-outline</v-icon>
        </v-btn>
    </div>
</template>

<script>
export default {
  data: () => ({
    showScrollToTopBtn: false
  }),
  mounted () {
    const scrollToTopBtn = document.querySelector('.scroll_to_top')
    const getScrollTop = () => document.documentElement.scrollTop || document.body.scrollTop

    const goToTop = () => {
      if (getScrollTop() > 0) {
        requestAnimationFrame(goToTop)
        scrollTo(0, getScrollTop() - (getScrollTop() / 25))
      }
    }

    const onScrollShowBtn = () => {
      if (getScrollTop() > 50) {
        this.showScrollToTopBtn = true
      } else {
        this.showScrollToTopBtn = false
      }
    }

    document.addEventListener('scroll', onScrollShowBtn)
    scrollToTopBtn.addEventListener('click', goToTop)
  }
}

</script>

<style scoped>
  .scroll_to_top {
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 1000;
      width: 65px;
      height: 65px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .8s ease;
  }
</style>
