<template>
    <v-container>
      <searchCharacter />
        <v-row wrap>
            <v-flex
            xs12
            sm4
            v-for="(character, index) in getCharacters" :key="index"
            class="pa-2">
                <v-lazy
                :options="{
                    threshold: .8
                }"
                min-height="200"
                transition="scale-transition">
                    <v-card
                    class="elevation-3">
                        <v-img
                        class="white--text align-end"
                        height="300px"
                        :src="character.thumbnail.path +'.'+character.thumbnail.extension"
                        >
                        </v-img>
                        <v-card-title>{{ character.name }}</v-card-title>
                        <v-card-text class="text--primary">
                            {{ character.description == '' ? 'Description not available for this character.' : character.description  }}
                        </v-card-text>
                        <v-card-actions
                        class="text-right">
                          <v-btn
                          :to="'/character/comics/' + character.id"
                          color="primary"
                          class="elevation-1">Comics</v-btn>
                          <v-btn
                          :to="'/character/stories/' + character.id"
                          color="primary"
                          class="elevation-1">Stories</v-btn>
                          <v-spacer></v-spacer>
                          <v-btn
                          :class="'l' + character.id"
                          @click="addToFavoriteItem($event, character)"
                          data-action="add"
                          icon
                          x-large
                          title="Add to My Favorites">
                            <v-icon>mdi-cards-heart</v-icon>
                          </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-lazy>
            </v-flex>
        </v-row>
    </v-container>
</template>

<script>
export default {
  computed: {
    getCharacters () {
      return [...this.$store.getters.getCharacters].sort((c1, c2) => {
        return (c1.name < c2.name) ? -1 : 1
      })
    },
    getFavoritesListCharacters () {
      return this.$store.getters.getFavoriteList.characters
    }
  },
  methods: {
    addToFavoriteItem (event, item) {
      const data = {
        list: 'characters',
        entry: item
      }
      if (event.target.dataset.action === 'add') {
        this.$store.dispatch('addToFavoriteList', data)
        event.target.style.color = '#ED1D24'
        event.target.dataset.action = 'remove'
      } else {
        event.target.style.color = 'rgba(0, 0, 0, 0.54)'
        event.target.dataset.action = 'add'
        this.$store.dispatch('removeItemFromFavoriteList', data)
      }
    }
  },
  mounted () {
    scrollTo(0, 0)
    setTimeout(() => {
      this.getFavoritesListCharacters.forEach(el => {
        document.querySelector(`.l${el.id}`).style.color = '#ED1D24'
        document.querySelector(`.l${el.id}`).dataset.action = 'remove'
        document.querySelector(`.l${el.id}`).title = 'Remove from My Favorites'
      })
    }, 1000)
  },
  updated () {
    setTimeout(() => {
      this.getFavoritesListCharacters.forEach(el => {
        document.querySelector(`.l${el.id}`).style.color = '#ED1D24'
        document.querySelector(`.l${el.id}`).dataset.action = 'remove'
        document.querySelector(`.l${el.id}`).title = 'Remove from My Favorites'
      })
    }, 1000)
  }
}
</script>
