<template>
    <v-container>
        <v-row>
            <v-flex xs12>
                <h1 class="heading">Characters for comic: {{ getSpecificComicInfo.title }}</h1>
            </v-flex>
        </v-row>
        <v-row>
            <v-flex
            xs12>
                <v-divider></v-divider>
            </v-flex>
        </v-row>
        <v-row wrap>
            <v-flex
            class="pa-2"
            v-for="(item, index) in getCharacters" :key="index"
            xs12
            sm6
            md6>
                <v-lazy
                :options="{
                    threshold: .8
                }"
                min-height="200"
                transition="scale-transition">
                    <v-card>
                        <v-img
                        height="300px"
                        :src="item.thumbnail.path+'.'+item.thumbnail.extension"></v-img>
                        <v-card-title>
                            {{ item.name }}
                        </v-card-title>
                        <v-card-text class="text--primary">
                            {{ item.description == '' || item.description == null ? 'Description not available for this character.' : item.description  }}
                        </v-card-text>
                    </v-card>
                </v-lazy>
            </v-flex>
        </v-row>
    </v-container>
</template>

<script>
export default {
  props: ['id_comic'],
  data: () => ({
    Id_comic: null
  }),
  computed: {
    getSpecificComicInfo () {
      return this.$store.getters.getComicsPerCharacter.find(el => el.id.toString() === this.id_comic)
    },
    getCharacters () {
      return this.$store.getters.getCharactersPerComic
    }
  },
  mounted () {
    this.Id_comic = this.id_comic
    this.$store.dispatch('loadCharactersPerComic', this.Id_comic)
    scrollTo(0, 0)
  }
}
</script>
