<template>
    <v-container>
      <v-row>
        <v-flex x12>
          <h1 class="heading">Characters for story:  {{ typeof getSpecificStoryInfo !== 'undefined' ? getSpecificStoryInfo.title : getSpecificStoryPerComicInfo.title }}</h1>
        </v-flex>
      </v-row>
      <v-row class="pb-3">
        <v-flex x12>
          <v-divider></v-divider>
        </v-flex>
      </v-row>
      <v-row wrap>
          <v-flex
          xs12
          sm9
          md9>
          <v-container fluid>
              <v-row wrap>
                  <v-flex
                    class="pa-2"
                    v-for="(character, index) in getCharacterPerStory" :key="index"
                    xs12
                    sm6
                    md6>
                        <v-lazy
                            :options="{
                                threshold: .8
                            }"
                            min-height="200"
                            transition="scale-transition">
                                <v-card
                                class="elevation-3">
                                    <v-img
                                    class="white--text align-end"
                                    height="300px"
                                    :src="character.thumbnail.path +'.'+character.thumbnail.extension"
                                    >
                                    </v-img>
                                    <v-card-title>{{ character.name }}</v-card-title>
                                    <v-card-text class="text--primary">
                                        {{ character.description == '' ? 'Description not available for this character.' : character.description  }}
                                    </v-card-text>
                                </v-card>
                            </v-lazy>
                    </v-flex>
              </v-row>
          </v-container>

          </v-flex>
          <v-flex
          class="pt-5"
          xs12
          sm3
          md3>
          <v-simple-table>
                  <template v-slot:default>
                      <thead>
                            <tr>
                                <th class="primary white--text text-center">
                                    <span class="headline">Check characters for more stories</span>
                                </th>
                            </tr>
                        </thead>
                    <tbody v-if="getStoriesPerCharacter.length > 0">
                      <tr v-for="(item, index) in getStoriesPerCharacter" :key="index">
                        <td class="pa-0 pl-2"
                        style="height:35px">
                          <router-link :to="'/character/stories/characters/' + item.id"
                            style="text-decoration:none; color: rgba(0,0,0,.7); display:block;">
                            {{ item.title }}
                            </router-link>
                        </td>
                      </tr>
                    </tbody>
                    <tbody v-else>
                      <tr v-for="(item, index) in getStoriesPerComic" :key="index">
                        <td class="pa-0 pl-2"
                        style="height:35px">
                          <router-link :to="'/character/stories/characters/' + item.id"
                            style="text-decoration:none; color: rgba(0,0,0,.7); display:block;">
                            {{ item.title }}
                            </router-link>
                        </td>
                      </tr>
                    </tbody>
                  </template>
                </v-simple-table>
          </v-flex>
      </v-row>
    </v-container>
</template>

<script>
export default {
  props: ['id_story'],
  computed: {
    getCharacterPerStory () {
      return this.$store.getters.getcharactersPerStory
    },
    getSpecificStoryInfo () {
      return this.$store.getters.getStoriesPerCharacter.find(el => el.id.toString() === this.id_story)
    },
    getStoriesPerCharacter () {
      return this.$store.getters.getStoriesPerCharacter
    },
    getStoriesPerComic () {
      return this.$store.getters.getStoriesPerComic
    },
    getSpecificStoryPerComicInfo () {
      return this.$store.getters.getStoriesPerComic.find(el => el.id.toString() === this.id_story)
    }
  },
  mounted () {
    this.$store.dispatch('loadCharactersPerStory', this.id_story)
    scrollTo(0, 0)
  }
}
</script>
