<template>
    <v-container>
      <v-row>
        <v-flex x12>
          <h1 class="heading">Comics for {{ getSpecificCharacterInfo.name }}</h1>
        </v-flex>
      </v-row>
      <v-row class="pb-3">
        <v-flex x12>
          <v-divider></v-divider>
        </v-flex>
      </v-row>
      <v-row wrap>
        <v-col
        class="pa-0 pl-3 pt-3 pr-3"
        offset-md="5"
        sm="12"
        cols="12"
        md="2"
        >
          <v-select
          label="Filter by format"
          dense
          :items="formatOptions"
          item-value="value"
          item-text="text"
          v-model="filterCriteria"
          @change="onFilterCriteriaChange">
          </v-select>
        </v-col>
      </v-row>
        <v-row wrap>
          <v-flex
            xs12
            sm4
            v-for="(item, index) in ComicsToShow" :key="index"
            class="pa-2">
            <v-lazy
                :options="{
                    threshold: .8
                }"
                transition="scale-transition">
                <v-card
                class="elevation-3">
                  <v-img
                  class="white--text align-end"
                  height="300px"
                  :src="item.thumbnail.path +'.'+item.thumbnail.extension"
                  >
                  </v-img>
                  <v-card-title><span class="">{{ item.title }}</span></v-card-title>
                  <div>
                    <div class="pl-4">
                      <span class="font-weight-bold">Format:</span> {{ item.format }}
                    </div>
                    <div class="pl-4">
                      <span class="font-weight-bold">Issue #:</span> {{ item.issueNumber  }}
                    </div>
                    <v-btn
                    block
                    color="secundary"
                    :to="'/character/comics/details/' + item.id"
                    class="elevation-0 red--text mt-2">
                    Details about this comic
                    </v-btn>
                  </div>
                  <v-card-actions>
                    <v-btn
                    :to="'/character/comics/characters/' + item.id"
                    color="primary">
                    <v-icon left>mdi-account-group</v-icon>
                    characters
                    </v-btn>
                    <v-btn
                    :to="'/character/comics/stories/' + item.id"
                    color="primary">
                    <v-icon left>mdi-comment-multiple</v-icon>
                    stories
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn
                    :class="'l' + item.id"
                    @click="addToFavoriteItem($event, item)"
                    data-action="add"
                    icon
                    x-large
                    title="Add to My Favorites">
                      <v-icon>mdi-cards-heart</v-icon>
                    </v-btn>
                  </v-card-actions>
                </v-card>
            </v-lazy>
          </v-flex>
        </v-row>
    </v-container>
</template>

<script>
export default {
  props: ['id_character'],
  data: () => ({
    Id_character: null,
    sortedCriteria: '',
    filterCriteria: '',
    formatOptions: [
      { value: '', text: 'All' },
      { value: 'Comic', text: 'Comic' },
      { value: 'Hardcover', text: 'Hardcover' },
      { value: 'Trade Paperback', text: 'Trade paperback' },
      { value: 'Magazine', text: 'Magazine' },
      { value: 'Digest', text: 'Digest' },
      { value: 'Graphic Novel', text: 'Grafic Novel' },
      { value: 'Digital Comic', text: 'Digital Comic' },
      { value: 'Infinite Comic', text: 'Infinite Comic' }
    ],
    ComicsToShow: []
  }),
  computed: {
    getComics () {
      return [...this.$store.getters.getComicsPerCharacter].sort((comic1, comic2) => comic1.issueNumber - comic2.issueNumber)
    },
    getSpecificCharacterInfo () {
      return this.$store.getters.getCharacters.find(el => el.id.toString() === this.id_character)
    },
    getFavoritesListComics () {
      return this.$store.getters.getFavoriteList.comics
    }
  },
  methods: {
    onFilterCriteriaChange (value) {
      if (value !== '') {
        this.ComicsToShow = this.getComics.filter(el => el.format === value)
      } else {
        this.ComicsToShow = this.getComics
      }
    },
    addToFavoriteItem (event, item) {
      const data = {
        list: 'comics',
        entry: item
      }
      if (event.target.dataset.action === 'add') {
        this.$store.dispatch('addToFavoriteList', data)
        event.target.style.color = '#ED1D24'
        event.target.dataset.action = 'remove'
      } else {
        event.target.style.color = 'rgba(0, 0, 0, 0.54)'
        event.target.dataset.action = 'add'
        this.$store.dispatch('removeItemFromFavoriteList', data)
      }
    }
  },
  mounted () {
    this.$store.dispatch('loadAllComicsPerCharacter', this.id_character)
    setTimeout(() => {
      this.Id_character = this.id_character
      this.ComicsToShow = this.getComics
    }, 1500)
    setTimeout(() => {
      this.getFavoritesListComics.forEach(el => {
        document.querySelector(`.l${el.id}`).style.color = '#ED1D24'
        document.querySelector(`.l${el.id}`).dataset.action = 'remove'
        document.querySelector(`.l${el.id}`).title = 'Remove from My Favorites'
      })
    }, 1000)
    scrollTo(0, 0)
  },
  updated () {
    setTimeout(() => {
      this.getFavoritesListComics.forEach(el => {
        document.querySelector(`.l${el.id}`).style.color = '#ED1D24'
        document.querySelector(`.l${el.id}`).dataset.action = 'remove'
        document.querySelector(`.l${el.id}`).title = 'Remove from My Favorites'
      })
    }, 1000)
  }
}
</script>
