<template>
    <v-container fluid class="pa-5">
        <v-row>
            <v-flex
            xs12
            sm9
            md9
            >
            <v-card
            class="elevation-3"
            tile>
                <v-card-title class="grey darken-3 white--text">
                  <span class="display-1">{{ getSpecificComicInfo.title }}</span>
                </v-card-title>
                <v-img
                class="white--text"
                height="465px"
                :src="getSpecificComicInfo.thumbnail.path +'.'+getSpecificComicInfo.thumbnail.extension">
                </v-img>
                <v-card-text class="text--primary text-justify">
                  <div class="mb-2">
                    <span class="font-weight-bold">Format:</span> {{ getSpecificComicInfo.format }}
                  </div>
                  <span class="font-weight-bold">Description: </span>{{ getSpecificComicInfo.description == '' || getSpecificComicInfo.description == null ? 'Description not available for this comic.' : getSpecificComicInfo.description  }}
                </v-card-text>
                <v-card-actions class="pa-0 pl-3">
                    <v-container fluid>
                      <v-row wrap>
                        <v-flex
                        class="mb-2"
                        xs12
                        sm4
                        md4>
                          <v-btn
                          outlined
                          :to="'/character/comics/characters/' + getSpecificComicInfo.id"
                          color="primary">
                              <v-icon left>mdi-account-group</v-icon>
                              characters for this comic
                          </v-btn>
                        </v-flex>
                        <v-flex
                        d-flex
                        justify-space-between
                        xs12
                        sm8
                        md8>
                            <v-btn
                            outlined
                            :to="'/character/comics/stories/' + getSpecificComicInfo.id"
                            color="primary">
                                <v-icon left>mdi-comment-multiple</v-icon>
                              stories for this comic
                            </v-btn>
                            <v-spacer></v-spacer>
                            <div>
                              <v-btn
                              icon
                              x-large
                              title="Add to My Favorites">
                                <v-icon>mdi-cards-heart</v-icon>
                              </v-btn>
                            </div>
                        </v-flex>
                      </v-row>
                    </v-container>
                  </v-card-actions>
                <div class="pt-3">
                  <v-container fluid>
                      <v-row wrap class="pl-4">
                        <v-flex
                        class="mb-2"
                        xs12>
                        <span class="display-1">Promotional Images</span>
                        </v-flex>
                        <v-flex
                        class="pa-2"
                        v-for="(item, index) in getSpecificComicInfo.images" :key="index"
                        xs12
                        sm4
                        md4>
                          <v-lazy
                          :options="{
                              threshold: .9
                          }"
                          transition="scale-transition">
                            <v-card class="elevation-4">
                              <v-img
                              :src="item.path +'.'+ item.extension"></v-img>
                            </v-card>
                          </v-lazy>
                        </v-flex>
                      </v-row>
                  </v-container>
                </div>
            </v-card>
            </v-flex>
            <v-flex
            class="elevation-2"
            xs12
            sm3
            md3
            >
            <v-card class="elevation-2 pa-0" tile>
                <v-card-title
                class="primary white--text pa-5 mb-2"
                >
                  More comics for this hero
                </v-card-title>
              <v-card-text
              class="pa-0 pl-2">
                <v-simple-table>
                  <template v-slot:default>
                    <tbody>
                      <tr v-for="(item, index) in getComicsPerCharacter" :key="index">
                        <td class="pa-0 pl-2"
                        style="height:35px">
                          <router-link :to="'/character/comics/details/' + item.id"
                            style="text-decoration:none; color: rgba(0,0,0,.7); display:block;">
                            {{ item.title }}
                            </router-link>
                        </td>
                      </tr>
                    </tbody>
                  </template>
                </v-simple-table>
              </v-card-text>
            </v-card>
            </v-flex>
        </v-row>
    </v-container>
</template>

<script>
export default {
  props: ['id_comic'],
  data: () => ({
    Id_comic: null
  }),
  computed: {
    getSpecificComicInfo () {
      return this.$store.getters.getComicsPerCharacter.find(el => el.id.toString() === this.id_comic)
    },
    getComicsPerCharacter () {
      return this.$store.getters.getComicsPerCharacter
    }
  },
  mounted () {
    this.Id_comic = this.id_comic
    scrollTo(0, 0)
  }
}
</script>
