<template>
    <v-container>
        <v-row>
        <v-flex x12>
          <h1 class="heading">Comics for story: {{ getSpecificStoryInfo.title }}</h1>
        </v-flex>
      </v-row>
      <v-row class="pb-3">
        <v-flex x12>
          <v-divider></v-divider>
        </v-flex>
      </v-row>
      <v-row wrap>
        <v-flex
            xs12
            sm4
            v-for="(item, index) in getComicsPerStory" :key="index"
            class="pa-2">
            <v-lazy
                :options="{
                    threshold: .8
                }"
                transition="scale-transition">
                <v-card
                class="elevation-3">
                  <v-img
                  class="white--text align-end"
                  height="300px"
                  :src="item.thumbnail.path +'.'+item.thumbnail.extension"
                  >
                  </v-img>
                  <v-card-title><span class="">{{ item.title }}</span></v-card-title>
                  <div>
                    <div class="pl-4">
                      <span class="font-weight-bold">Format:</span> {{ item.format }}
                    </div>
                    <v-btn
                    block
                    color="secundary"
                    :to="'/character/comics/details/' + item.id"
                    class="elevation-0 red--text mt-2">
                    Details about this comic
                    </v-btn>
                  </div>
                  <v-card-actions>
                    <v-btn
                    :to="'/character/comics/characters/' + item.id"
                    color="primary">
                    <v-icon left>mdi-account-group</v-icon>
                    characters
                    </v-btn>
                    <v-btn
                    :to="'/character/comics/stories/' + item.id"
                    color="primary">
                    <v-icon left>mdi-comment-multiple</v-icon>
                    stories
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn
                    icon
                    x-large
                    title="Add to My Favorites">
                      <v-icon>mdi-cards-heart</v-icon>
                    </v-btn>
                  </v-card-actions>
                </v-card>
            </v-lazy>
          </v-flex>
      </v-row>
    </v-container>
</template>

<script>
export default {
  props: ['id_story'],
  computed: {
    getComicsPerStory () {
      return this.$store.getters.getComicsPerStory
    },
    getSpecificStoryInfo () {
      return this.$store.getters.getStoriesPerComic.find(el => el.id.toString() === this.id_story)
    }
  },
  mounted () {
    this.$store.dispatch('loadComicsPerStory', this.id_story)
  }
}
</script>
