<template>
    <v-container>
        <v-row>
        <v-flex x12>
          <h1 class="heading">My Favorites</h1>
        </v-flex>
      </v-row>
      <v-row class="pb-3">
        <v-flex x12>
          <v-divider></v-divider>
        </v-flex>
      </v-row>
      <v-row class="mt-5">
          <v-flex xs12>
              <span class="display-1">Characters</span>
          </v-flex>
      </v-row>
      <v-row wrap>
          <v-flex
            xs12
            sm4
            v-for="(character, index) in getFavoriteList.characters" :key="index"
            class="pa-2">
                <v-lazy
                :options="{
                    threshold: .8
                }"
                min-height="200"
                transition="scale-transition">
                    <v-card
                    class="elevation-3">
                        <v-img
                        class="white--text align-end"
                        height="300px"
                        :src="character.thumbnail.path +'.'+character.thumbnail.extension"
                        >
                        </v-img>
                        <v-card-title>{{ character.name }}</v-card-title>
                        <v-card-text class="text--primary">
                            {{ character.description == '' ? 'Description not available for this character.' : character.description  }}
                        </v-card-text>
                        <v-card-actions
                        class="text-right">
                          <v-btn
                          :to="'/character/comics/' + character.id"
                          color="primary"
                          class="elevation-1">Comics</v-btn>
                          <v-btn
                          :to="'/character/stories/' + character.id"
                          color="primary"
                          class="elevation-1">Stories</v-btn>
                          <v-spacer></v-spacer>
                          <v-btn
                          :class="'l' + character.id"
                          @click="addToFavoriteItem($event, character)"
                          data-action="add"
                          icon
                          x-large
                          title="Add to My Favorites">
                            <v-icon>mdi-cards-heart</v-icon>
                          </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-lazy>
            </v-flex>
      </v-row>
      <v-row class="mt-5">
          <v-flex xs12>
              <span class="display-1">Comics</span>
          </v-flex>
      </v-row>
      <v-row wrap>
          <v-flex
            xs12
            sm4
            v-for="(item, index) in getFavoriteList.comics" :key="index"
            class="pa-2">
            <v-lazy
                :options="{
                    threshold: .8
                }"
                transition="scale-transition">
                <v-card
                class="elevation-3">
                  <v-img
                  class="white--text align-end"
                  height="300px"
                  :src="item.thumbnail.path +'.'+item.thumbnail.extension"
                  >
                  </v-img>
                  <v-card-title><span class="">{{ item.title }}</span></v-card-title>
                  <div>
                    <div class="pl-4">
                      <span class="font-weight-bold">Format:</span> {{ item.format }}
                    </div>
                    <div class="pl-4">
                      <span class="font-weight-bold">Issue #:</span> {{ item.issueNumber  }}
                    </div>
                    <v-btn
                    block
                    color="secundary"
                    :to="'/character/comics/details/' + item.id"
                    class="elevation-0 red--text mt-2">
                    Details about this comic
                    </v-btn>
                  </div>
                  <v-card-actions>
                    <v-btn
                    :to="'/character/comics/characters/' + item.id"
                    color="primary">
                    <v-icon left>mdi-account-group</v-icon>
                    characters
                    </v-btn>
                    <v-btn
                    :to="'/character/comics/stories/' + item.id"
                    color="primary">
                    <v-icon left>mdi-comment-multiple</v-icon>
                    stories
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn
                    :class="'l' + item.id"
                    @click="addToFavoriteItem($event, item)"
                    data-action="add"
                    icon
                    x-large
                    title="Add to My Favorites">
                      <v-icon>mdi-cards-heart</v-icon>
                    </v-btn>
                  </v-card-actions>
                </v-card>
            </v-lazy>
          </v-flex>
      </v-row>
      <v-row class="mt-5">
          <v-flex xs12>
              <span class="display-1">Stories</span>
          </v-flex>
      </v-row>
      <v-row wrap>
          <v-flex
            xs12
            sm6
            md6
            v-for="(item, index) in getFavoriteList.stories" :key="index"
            class="pa-2">
            <v-lazy
                :options="{
                    threshold: .8
                }"
                transition="scale-transition">
                <v-card
                class="elevation-3">
                <v-img
                v-if="item.thumbnail !== null"
                :src="item.thumbnail !== null ? item.thumbnail.path+'.'+item.thumbnail.extension : ''"
                height="300px">
                </v-img>
                  <v-card-title><span class="headline">{{ item.title }}</span></v-card-title>
                  <v-card-text class="text--primary text-justify mt-3">
                    <div>
                      <span class="font-weight-bold">Type:</span> {{ item.type }}
                    </div>
                      <span class="font-weight-bold">Description: </span>{{ item.description == '' || item.description == null ? 'Description not available for this story.' : item.description  }}
                  </v-card-text>
                  <v-card-actions>
                      <v-btn
                      :to="'/character/stories/characters/' + item.id"
                      color="primary">
                      <v-icon left>mdi-account-group</v-icon>
                      characters
                      </v-btn>
                      <v-btn
                      :to="'/character/stories/comics/' + item.id"
                      color="primary">
                      <v-icon left>mdi-comment-multiple</v-icon>
                      comics
                      </v-btn>
                      <v-spacer></v-spacer>
                      <v-btn
                      :class="'l' + item.id"
                      @click="addToFavoriteItem($event, item)"
                      data-action="add"
                      icon
                      x-large
                      title="Add to My Favorites">
                        <v-icon>mdi-cards-heart</v-icon>
                      </v-btn>
                  </v-card-actions>
                </v-card>
            </v-lazy>
          </v-flex>
      </v-row>
    </v-container>
</template>

<script>
export default {
  computed: {
    getFavoriteList () {
      return this.$store.getters.getFavoriteList
    }
  }
}
</script>
