<template>
    <v-container>
        <v-row>
        <v-flex x12>
          <h1 class="heading">Stories for comic:  {{ getSpecificComicInfo.title }}</h1>
        </v-flex>
      </v-row>
      <v-row class="pb-3">
        <v-flex x12>
          <v-divider></v-divider>
        </v-flex>
      </v-row>
      <v-row wrap>
          <v-flex
            xs12
            sm6
            md6
            v-for="(item, index) in getStoriesPerComic" :key="index"
            class="pa-2">
            <v-lazy
                :options="{
                    threshold: .8
                }"
                transition="scale-transition">
                <v-card
                class="elevation-3">
                <v-img
                v-if="item.thumbnail !== null"
                :src="item.thumbnail !== null ? item.thumbnail.path+'.'+item.thumbnail.extension : ''"
                height="300px">
                </v-img>
                  <v-card-title><span class="headline">{{ item.title }}</span></v-card-title>
                  <v-card-text class="text--primary text-justify mt-3">
                    <div>
                      <span class="font-weight-bold">Type:</span> {{ item.type }}
                    </div>
                      <span class="font-weight-bold">Description: </span>{{ item.description == '' || item.description == null ? 'Description not available for this story.' : item.description  }}
                  </v-card-text>
                  <v-card-actions>
                      <v-btn
                      :to="'/character/stories/characters/' + item.id"
                      color="primary">
                      <v-icon left>mdi-account-group</v-icon>
                      characters
                      </v-btn>
                      <v-btn
                      :to="'/character/stories/comics/' + item.id"
                      color="primary">
                      <v-icon left>mdi-comment-multiple</v-icon>
                      comics
                      </v-btn>
                      <v-spacer></v-spacer>
                      <v-btn
                      :class="'l' + item.id"
                      @click="addToFavoriteItem($event, item)"
                      data-action="add"
                      icon
                      x-large
                      title="Add to My Favorites">
                        <v-icon>mdi-cards-heart</v-icon>
                      </v-btn>
                  </v-card-actions>
                </v-card>
            </v-lazy>
          </v-flex>
      </v-row>
    </v-container>
</template>

<script>
export default {
  props: ['id_comic'],
  computed: {
    getStoriesPerComic () {
      return this.$store.getters.getStoriesPerComic
    },
    getSpecificComicInfo () {
      return this.$store.getters.getComicsPerCharacter.find(el => el.id.toString() === this.id_comic)
    },
    getComicsPerCharacter () {
      return this.$store.getters.getComicsPerCharacter
    },
    getFavoritesListStories () {
      return this.$store.getters.getFavoriteList.stories
    }
  },
  methods: {
    addToFavoriteItem (event, item) {
      const data = {
        list: 'stories',
        entry: item
      }
      if (event.target.dataset.action === 'add') {
        this.$store.dispatch('addToFavoriteList', data)
        event.target.style.color = '#ED1D24'
        event.target.dataset.action = 'remove'
      } else {
        event.target.style.color = 'rgba(0, 0, 0, 0.54)'
        event.target.dataset.action = 'add'
        this.$store.dispatch('removeItemFromFavoriteList', data)
      }
    }
  },
  mounted () {
    this.$store.dispatch('loadStoriesPerComic', this.id_comic)
    scrollTo(0, 0)
    setTimeout(() => {
      this.getFavoritesListStories.forEach(el => {
        document.querySelector(`.l${el.id}`).style.color = '#ED1D24'
        document.querySelector(`.l${el.id}`).dataset.action = 'remove'
        document.querySelector(`.l${el.id}`).title = 'Remove from My Favorites'
      })
    }, 1000)
  },
  updated () {
    setTimeout(() => {
      this.getFavoritesListStories.forEach(el => {
        document.querySelector(`.l${el.id}`).style.color = '#ED1D24'
        document.querySelector(`.l${el.id}`).dataset.action = 'remove'
        document.querySelector(`.l${el.id}`).title = 'Remove from My Favorites'
      })
    }, 1000)
  }
}
</script>
