<template>
    <v-container>
      <v-row>
        <v-col xs12 class="text-center">
          <span class="display-1">Explore Your Marvel's Characters In One Place</span>
        </v-col>
      </v-row>
        <v-row wrap>
            <v-col sm="12" md="2" offset-md="2" cols="12">
              <v-select
              outlined
              v-model="searchCriteria"
              :items="searchOptions"
              item-value="value"
              item-text="text"
              label="Filter by"></v-select>
            </v-col>
            <v-col  sm="12" md="6" cols="12" style="position:relative">
                <div class="autocomplete_results elevation-2" v-show="showFilterCharacters.length > 0">
                  <v-container fluid class="pt-0">
                    <v-row
                    v-for="(item, index) in showFilterCharacters"
                    :key="index"
                    class="aucompleteOption"
                    @click="getTextResult(item.name, item.id, item.title)">
                      <v-flex xs12 class="pl-3 pt-1 pb-1">
                        {{ item.name || item.title }}
                      </v-flex>
                    </v-row>
                  </v-container>
                </div>
                <form @submit.prevent="searchCharacter">
                    <v-text-field
                    v-model="searchValue"
                    autocomplete="off"
                    outlined
                    @input="filterCharacters"
                    @focus="filterCharacters"
                    :label="inputData.label"
                    :placeholder="inputData.placeholder">
                    <template v-slot:append-outer>
                        <v-btn
                        class="elevation-1"
                        style="margin-top: -10px;"
                        color="primary"
                        type="submit"
                        :disabled="!isValid">Go</v-btn>
                    </template>
                    </v-text-field>
                </form>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
export default {
  data: () => ({
    searchValue: '',
    searchId: null,
    searchCriteria: 'name',
    searchOptions: [
      { value: 'name', text: 'Name' },
      { value: 'comics', text: 'Comic' }
    ]
  }),
  computed: {
    isValid () {
      return this.searchValue.trim() !== ''
    },
    inputData () {
      let data
      if (this.searchCriteria === 'name') {
        data = {
          label: 'Type your hero\'s name',
          placeholder: 'Eg. Iron Man, Vision, Thor'
        }
      } else if (this.searchCriteria === 'comics') {
        data = {
          label: 'Type your comic',
          placeholder: 'Eg. New Mutants, Deadpool, Black Cat'
        }
      }
      return data
    },
    showFilterCharacters () {
      return this.$store.getters.getFilteredCharacters
    }
  },
  methods: {
    searchCharacter () {
      const searchingCriteria = {
        option: this.searchCriteria,
        searchWord: this.searchValue,
        searchId: this.searchId
      }
      this.$store.dispatch('loadAllCharacters', searchingCriteria)
    },
    getTextResult (text, id, title) {
      this.searchValue = text || title
      this.searchId = id
      const searchingCriteria = {
        option: this.searchCriteria,
        searchWord: '',
        searchId: this.searchId
      }
      this.$store.dispatch('filterCharacters', searchingCriteria)
    },
    filterCharacters () {
      const searchingCriteria = {
        option: this.searchCriteria,
        searchWord: this.searchValue,
        searchId: this.searchId
      }
      this.$store.dispatch('filterCharacters', searchingCriteria)
    },
    cleanFilteredCharacters () {
      const searchingCriteria = {
        option: this.searchCriteria,
        searchWord: ''
      }
      this.$store.dispatch('filterCharacters', searchingCriteria)
    }
  }
}
</script>

<style scoped>
.autocomplete_results {
  background-color: #fff;
  padding: 0;
  position: absolute;
  color:#fff;
  width: 83.4%;
  top: 68px;
  z-index: 1000;
  color: #3f3e3e;
}
.aucompleteOption:hover {
  cursor: pointer;
  background-color: #f3f3f3;
  color: #ed1d24;
  font-weight: 600;
}
@media screen and (max-width: 600px) {
.autocomplete_results {
  width: 95%;
}
}
</style>
