<template>
  <v-app>
    <scrollToTopButton />
    <v-navigation-drawer
    v-model="navigationMobile"
    fixed>
      <v-list
      class="pt-12">
        <v-list-item two-line>
          <v-list-item-avatar
          tile
          width="85px">
            <img :src="require('./assets/marvel_logo.png')">
          </v-list-item-avatar>
          <v-list-item-content>
              <v-list-item-title class="text-center">Marvel App</v-list-item-title>
              <v-list-item-subtitle class="text-center">By Alex Galicia</v-list-item-subtitle>
            </v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-divider></v-divider>
        </v-list-item>
        <v-list-item v-for="(item, index) in menuItems" :key="index" link :to="item.link">
          <v-list-item-icon>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>{{ item.text }}</v-list-item-title>
            </v-list-item-content>
        </v-list-item>
    </v-list>

    </v-navigation-drawer>
      <v-app-bar
      color="primary"
      dark
      app
      dense
      class="elevation-2"
      >
        <v-app-bar-nav-icon class="hidden-sm-and-up" @click="navigationMobile = !navigationMobile"></v-app-bar-nav-icon>
        <v-toolbar-title class="d-flex align-center">
          <v-img
            alt="Marvel App Logo"
            class="shrink mr-2"
            contain
            :src="require('./assets/marvel_logo.png')"
            transition="scale-transition"
            width="100"
          />
        </v-toolbar-title>

        <v-spacer></v-spacer>

        <v-toolbar-items class="hidden-xs-only">
          <v-btn v-for="(menuItem, index) in menuItems" :key="index"
          class="elevation-0"
          color="primary"
          :to="menuItem.link"
          >
            <v-icon
            left
            medium>{{ menuItem.icon }}</v-icon>
            {{ menuItem.text }}
          </v-btn>
        </v-toolbar-items>
      </v-app-bar>

    <v-content>
      <loader v-if="loading" mode="in-out"/>
      <transition name="bounce"  mode="out-in">
        <noResults v-if="noResults"></noResults>
      </transition>
      <transition name="slide-fade" mode="out-in">
        <router-view :key="$route.fullPath"/>
      </transition>
      <v-footer>
        <div class="text-center">Data provided by Marvel. © 2020 MARVEL</div>
      </v-footer>
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: 'App',
  data: () => ({
    navigationMobile: false,
    menuItems: [
      { text: 'Home', link: '/', icon: 'mdi-home' },
      { text: 'My Favorites', link: '/favorites', icon: 'mdi-cards-heart' }
    ]
  }),
  computed: {
    loading () {
      return this.$store.getters.getLoading
    },
    noResults () {
      return this.$store.getters.getNoResults
    }
  },
  mounted () {
    const localFavoriteList = localStorage.getItem('marvelAppAlexFavorites')
    if (localFavoriteList) {
      const localFavoriteListObject = JSON.parse(localFavoriteList)
      this.$store.dispatch('loadLocalCopyfavoriteList', localFavoriteListObject)
    }
  }
}
</script>

<style>
  .slide-fade-enter-active {
    transition: all .2s ease;
  }
  .slide-fade-leave-active {
    transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
  }
  .bounce-enter-active {
    animation: bounce-in .8s;
  }
  .bounce-leave-active {
    animation: bounce-in .8s reverse;
  }
  @keyframes bounce-in {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
  .v-icon, .v-btn__content {
    pointer-events: none;
  }
</style>
